# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [108]:
import pandas as pd  

customer = pd.read_csv('costumer.csv')
display(costumer.head(10))

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,NaN,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,NaN,0.0,94.0,NaN,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,NaN,48767.0,108.0,NaN,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,NaN,0.0,106.0,NaN,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,NaN,36357.0,68.0,NaN,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,NaN,62902.0,69.0,NaN,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,NaN,55350.0,67.0,NaN,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,NaN,0.0,101.0,NaN,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,NaN,14072.0,71.0,NaN,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,NaN,28812.0,93.0,NaN,Special Auto,Four-Door Car,425.527834

In [52]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
customer.shape

(4008, 11)

In [53]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
customer.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [54]:
#customer lifetime and number of complains are numerical? Do i have to delete % on customer lifetime and the / on number of complaints?
customer['Customer Lifetime Value'] = pd.to_numeric(customer['Customer Lifetime Value'], errors='coerce')
customer['Number of Open Complaints'] = pd.to_numeric(customer['Number of Open Complaints'], errors='coerce')

In [55]:
customer.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [109]:
#Checking for typos on the columns
for column in customer.columns:
    value_counts = customer[column].value_counts()
    display(value_counts)

RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: Customer, Length: 1071, dtype: int64

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: Customer Lifetime Value, Length: 1027, dtype: int64

0.0        252
43860.0      4
17622.0      4
36650.0      3
14072.0      3
          ...
29486.0      1
58557.0      1
25632.0      1
18768.0      1
54230.0      1
Name: Income, Length: 774, dtype: int64

65.0     47
63.0     39
71.0     37
67.0     37
73.0     37
         ..
177.0     1
181.0     1
276.0     1
253.0     1
199.0     1
Name: Monthly Premium Auto, Length: 132, dtype: int64

1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

321.600000    19
331.200000    15
312.000000    14
350.400000    14
316.800000    12
              ..
421.484456     1
430.505942     1
7.646763       1
55.510526      1
207.320041     1
Name: Total Claim Amount, Length: 761, dtype: int64

In [56]:
customer['GENDER'].value_counts()

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [57]:
#fixing genders

customer['GENDER'].replace('Male', 'M', inplace=True)


customer['GENDER'].replace(['Female', 'Femal', 'female'], 'F', inplace=True)


customer['GENDER'].fillna('Unknown', inplace=True)

In [59]:
customer['GENDER'].value_counts()

Unknown    3054
F           502
M           452
Name: GENDER, dtype: int64

In [60]:
customer['Education'].value_counts()

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

In [61]:
#fixing Education
customer['Education'].replace('Bachelors', 'Bachelor', inplace=True)
customer['Education'].value_counts()

Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: Education, dtype: int64

In [75]:
#fixing location
customer['ST'].value_counts()

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [80]:
customer['ST'].replace('Cali', 'California', inplace=True)
customer['ST'].replace('WA', 'Washington', inplace=True)
customer['ST'].replace('AZ', 'Arizona', inplace=True)

In [81]:
customer['ST'].value_counts()

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: ST, dtype: int64

In [62]:
#Identify the number of unique values for each column and determine which columns appear to be categorical. 
#You should also describe the unique values of each categorical column and the range of values for numerical columns, 
#and give your insights.

customer.nunique()

Customer                     1071
ST                              8
GENDER                          3
Education                       5
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       0
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [ ]:
R:Categorical Columns: Customer, ST, GENDER, Education, Policy Type, Vehicle Class.
Numerical Columns: Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount.
Besides "Costumer lifetime Value" and "number of open complaints" having 0 unique values, they are numerical,
this happens because they are not being treated as numbers.
On what councerns to the range, i think it is fair to say that columns with less than 9 unique values are categorical on this case.
(I know that Customer Lifetime Value and Number of Open Complaints are numerical and have 0 unique values(less than 9)
 but that is due to my incapacity of transforming them to numbers.)

In [111]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles
#to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.

import pandas as pd

numerical_columns = ['Income', 'Monthly Premium Auto', 'Total Claim Amount']

mean_values = customer[numerical_columns].mean()

median_values = customer[numerical_columns].median()

mode_values = customer[numerical_columns].mode().iloc[0]

std_values = customer[numerical_columns].std()

quartiles_values = customer[numerical_columns].quantile([0.25, 0.5, 0.75])

# Creating a summary DataFrame
summary_statistics = pd.DataFrame({
    'Mean': mean_values,
    'Median': median_values,
    'Mode': mode_values,
    'Standard Deviation': std_values,
    'Q1 (25th Percentile)': quartiles_values.loc[0.25],
    'Q2 (50th Percentile/Median)': quartiles_values.loc[0.5],
    'Q3 (75th Percentile)': quartiles_values.loc[0.75]
})

print(summary_statistics)

                              Mean        Median   Mode  Standard Deviation  \
Income                39295.701214  36234.000000    0.0        30469.427060
Monthly Premium Auto    193.234360     83.000000   65.0         1601.190369
Total Claim Amount      404.986909    354.729129  321.6          293.027260

                      Q1 (25th Percentile)  Q2 (50th Percentile/Median)  \
Income                        14072.000000                 36234.000000
Monthly Premium Auto             68.000000                    83.000000
Total Claim Amount              202.157702                   354.729129

                      Q3 (75th Percentile)
Income                             64631.0
Monthly Premium Auto                 109.5
Total Claim Amount                   532.8

In [ ]:
P.S- i think customer lifetime value and number of open complains are numerical too, but i wasn't able to treat them as integers or floats,
so i didn't compute statistics for them.
Conclusions:
Customers:The mean income of customers is approximately $39,295.70, and the median income is $36,234.00.
The mean monthly premium auto is $193.23, and the median is $83.00. 
The mean total claim amount is $404.99, and the median is $354.73.

In [68]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
customer['GENDER'].value_counts()

Unknown    3054
F           502
M           452
Name: GENDER, dtype: int64

In [69]:
customer['Education'].value_counts()

Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: Education, dtype: int64

In [70]:
customer['Policy Type'].value_counts()

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [71]:
customer['Vehicle Class'].value_counts()

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [82]:
customer['ST'].value_counts()

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: ST, dtype: int64

In [ ]:
Conclusions: 
Gender: we don't know the gender of the vast majority of customers (3054), and from the ones we know, most of them are female(502) while only 452 are men
Education: The mode on our clients in terms of education is Bachelor( 331) followed by College(313), while the least common type of education is Doctors(only 37)
Policy Type: The vast majority of our clients have the "Personal Auto" policy type(approximatly 75%), with Special Auto being the least chosen Policy type.
Vehicle Class: The most common type of vehicle is  Four-Door Car (576), followed by Two-Door Car (205). The least common vehicle classes are Luxury SUVs(20) and Luxury cars(14)
ST(Location) : The most common location is California (331), followed by Oregon(320), while the least common location was Nevada(98)

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [112]:
customer_locations_series = pd.Series(customer['ST'].value_counts())

top_5_less_common_locations = customer_locations_series.nsmallest(5)

display(top_5_less_common_locations)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [90]:
import pandas as pd

percentile_75 = customer['Total Claim Amount'].quantile(0.75)


high_claim_customers = customer[customer['Total Claim Amount'] > percentile_75]


summary_statistics_high_claim = high_claim_customers['Total Claim Amount'].describe()

print(summary_statistics_high_claim)

count     264.000000
mean      782.228263
std       292.751640
min       537.600000
25%       606.521741
50%       679.597985
75%       851.400000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [ ]:
There are 264 customers with High Claim amount.
From the statistics we can see that all this costumers have a claim amount wich is more than 537$,
having claimed on average  782$.
It's intersting to mention that the max value is way bigger than the mean for High Claim amount customers,
since the maximum amount claimed from a client was 2893$, almost 3x the average amount claimed by other .

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [93]:
policy_counts = customer['Policy Type'].value_counts()
display(policy_counts)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [94]:

most_common_policy = policy_counts.idxmax()
display(most_common_policy)

'Personal Auto'

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [97]:
personal_auto_df = customer.loc[customer['Policy Type'] == 'Personal Auto']
average_income_personal_auto = personal_auto_df['Income'].mean()

display(average_income_personal_auto)

38180.69871794872

In [98]:
corporate_auto_df = customer.loc[customer['Policy Type'] == 'Corporate Auto']
average_income_corporate_auto = corporate_auto_df['Income'].mean()

display(average_income_corporate_auto)

41390.31196581197

In [ ]:
The average income for customers with Personal Auto Policy Type is 38180$
The average income for customers with Corporate Auto Policy Type is 41390$
We can assume that customers with Personal Auto Policy Type have a smaller average income than customers with Corporate Auto Policy Type.